#root {
  max-width: 100vw;
  margin: 0px;
  padding: 0;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.details__wrapper {
  max-width: 400px;
  margin: 10em auto;
}
.form__item {
  margin-bottom: 1.6em;
}
label,
input {
  display: block;
  width: 100%;
}
.d-flex {
  display: flex !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-between {
  justify-content: space-between !important;
}
.input__error input {
  border-color: red;
}
.error__feedback {
  color: red;
}

@font-face {
  font-family: ImportedBlack;   /*Can be any text*/
  src: local("FbMatadorEnHeb-Black"),
    url("./assets/fonts/FbMatadorEnHeb-Black.ttf") format("truetype");
}
@font-face {
  font-family: ImportedBold;   /*Can be any text*/
  src: local("FbMatadorEnHeb-Bold"),
    url("./assets/fonts/FbMatadorEnHeb-Bold.ttf") format("truetype");
}
@font-face {
  font-family: ImportedLight;   /*Can be any text*/
  src: local("FbMatadorEnHeb-Light"),
    url("./assets/fonts/FbMatadorEnHeb-Light.ttf") format("truetype");
}
@font-face {
  font-family: ImportedMedium;   /*Can be any text*/
  src: local("FbMatadorEnHeb-Medium"),
    url("./assets/fonts/FbMatadorEnHeb-Medium.ttf") format("truetype");
}
@font-face {
  font-family: ImportedRegular;   /*Can be any text*/
  src: local("FbMatadorEnHeb-Regular"),
    url("./assets/fonts/FbMatadorEnHeb-Regular.ttf") format("truetype");
}